NODE_ENV=development
PORT=3001
CORS_ORIGIN=http://localhost:3000

DATABASE_URL=postgresql://social_web:social_web@postgres:5432/social_web?schema=public

JWT_ACCESS_TOKEN_SECRET=docker-dev-access-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_SECRET=docker-dev-refresh-secret
JWT_REFRESH_EXPIRES_IN=7d

LOG_FORMAT=pretty
LOG_LEVEL=debug
PRISMA_QUERY_LOG=false
